*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.main{
    max-width: 900px;
    margin: 0 auto;
}
.box-contain{
     margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    background-color: ghostwhite;
    padding: 20px;
    max-width: 600px;
    box-shadow: 5px 5px 10px;
    
}
#one{
    font-size: 15px;
}
.form-cotainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}
.blk{

      display: grid;
        justify-items: start;
}
label{
    font-size: 20px;
    margin: 5px;
}
h2{
   margin-bottom: 20px; 
}
input{
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}
textarea{
    padding: 6px 10px;
}
select{
      border-radius: 5px;
}
textarea,input:focus{
    outline-color: red;
}
.button{
    margin-top: 20px;
    text-align-last: right;
   
}
button{
    background: red;
    font-size: 20px;
    border-radius: 8px;
    color: whitesmoke;
    font-family: monospace;
}


