*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.body{
    min-height: 100vh;
    background-color:  #e5e5fd ;
    border: 10px solid rgb(0,0,102);
}
.contaner{
    max-width: 900px;
    margin: 0 auto;
}
.top-section{
  margin-top:  100px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
   
}

.img-blk,img{
    height: 300px;
    width: 320px;
    
}
img{
    border-radius: 50%;
    border: 2px solid gray;
    box-shadow: 10px 10px 10px;
    
}

div h1{
    text-align: justify;
    font-size: 35px;
    color: #009999;
}
#name h4{
        font-family: monospace;
    text-align: end;
}
.about-contaner h2{
    margin-top: 20px;
    font-size: 50px;
    font-weight:500;
    margin-bottom: 10px;
}
.about-contaner p{
    font-size: 18px;
     text-align: justify;
    line-height: 30px;
    letter-spacing: 1px;
}
.biography-section{
    margin-top: 20px;
}
span{
    font-size: 30px;
    text-transform: uppercase;
}
.biography-section ul{
    margin-top: 10px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: justify;
}
