@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    line-height: 30px;
    font-weight: 300;
   
}
.container{
    min-height: 100vh;
    max-width: 900px;
    margin: 0 auto;
}
.navigation{
    height: 40px;
     width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.text_align1{
    position: absolute;
    left: 43%;
}
.text_align1 i{
    letter-spacing: 1.3px;
}
.fimg{
    height: 400px;
    width: 900px;
    background-image:url(aa.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
   
}
.text_align2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}
.text_align2 span{
    background: rgba(215, 189, 226,0.6);
    padding: 8px;
    color: #FDFEFE;
}
.below_sec{
    margin-top: 15px;
    margin-bottom: 15px;
   min-height: 400px;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 70px;
      
}
.one{
    box-shadow: 2px 2px 5px gray;
    transition: 0.8s ease-in-out;
    
}
.one:hover{
    transform: scale(1.04);
   box-shadow: 3px 3px 6px black;
    transition: 0.8s ease-in-out;
}
.one p{
    padding: 8px;
    text-align:justify-all;
}
img{
    height: 200px;
    width: 250px;
}

.middle_sec{
    background: #273746;
    color: whitesmoke;
    text-align: justify;
    padding: 20px;
    
}
.middle_sec h2{
    padding-bottom: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    
}
.middle_sec p{
    font-size: 15px;
}

.last_content{
   height: 500px;
    display: flex;
    margin-top: 15px;
    
}
.col1{
    width: 500px;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 0px;
    grid-column-gap: 3px;
}
#same2{
    height: 230px;
}
#same{
    height: 250px;
}

.col2{
    padding: 0px  20px;
    width: 470px;    
}
.col2 img{
    height:48%;
    width: 380px;
}
footer{
     margin-top: 10px;
    background: #000;
    min-height: 150px;
    color: whitesmoke;
}
footer h4{
       text-align: center;
}
.text{
        font-weight: lighter;
        font-size: 13px;
}
.end{
    display: flex;
    justify-content: space-between;
}
.copyright{
    padding-left: 10px;
 
}
.about{
  text-align: end;
    right: 0px;
    font-size: 13px;
    color: blue;
   
}
